@model Practico07.MVC.Models.NasaPicView

@{
    ViewBag.Title = "Index";
}

<h2>Duck Pic:</h2>
<div>
    <img src="@Url.Content(Model.Url)" alt="uhm... a duck is supose to appear here...">
</div>
<h3>@Model.Message</h3>
