@model Practico07.MVC.Models.NasaPicView

@{
    ViewBag.Title = "Index";
}

<h2>@Model.message</h2>
<a href=@Model.url target="_blank">
    <button type="button" class="btn btn-warning">photo</button></a>
