<form>
  <div class="table table-responsive">
      <table>
          <thead>
              <tr>
                  <th scope="col"></th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <input class="form-control mr-sm-2" type="search" placeholder="ID" aria-label="Search">
              </tr>
              <tr>
                  <input class="form-control mr-sm-2" type="search" placeholder="Empresa" aria-label="Search">
              </tr>
              <tr>
                  <input class="form-control mr-sm-2" type="search" placeholder="Nombre" aria-label="Search">
              </tr>
              <tr>
                  <input class="form-control mr-sm-2" type="search" placeholder="Ciudad" aria-label="Search">
              </tr>
              <tr>
                  <input class="form-control mr-sm-2" type="search" placeholder="Pais" aria-label="Search">
              </tr>
              <tr>
                  <input class="form-control mr-sm-2" type="search" placeholder="Telefono" aria-label="Search">
              </tr>
          </tbody>
      </table>
  </div>
  <div class="last">
    <button type="button" class="btn btn-success">Guardar</button>
    <button type="button" class="btn btn-danger">Cancelar</button>
  </div>
</form>
