<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{state}}</h4>
    <button type="button" class="btn btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <!--<span aria-hidden="true">&times;</span>-->
    </button>
  </div>
  <div class="modal-body">
    <app-form
    [iID]="pID"
    [iName]="pName"
    [iEmp]="pEmp"
    [iCity]="pCity"
    [iCountry]="pCountry"
    [iPhone]="pPhone"
    [state]="state"
    ></app-form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close()">Cerrar</button>
  </div>
</ng-template>

<div class="last">
  <button class="btn btn-lg btn-outline-success and boton" (click)="openNew(content); state='Nuevo Cliente'" >Nuevo Cliente</button>
  <button class="btn btn-lg btn-outline-primary and boton" (click)="openUpdate(content); state='Modificar Cliente'">Modificar Cliente</button>
</div>
