<form>
  <tr>
    <th>ID: </th>
    <input class="form-control mr-sm-2 and input" type="search" placeholder="{{pID}}" aria-label="Search">
  </tr>
  <tr>
    <th>Empresa: </th>
    <input class="form-control mr-sm-2 and input" type="search" placeholder="{{pEmp}}" aria-label="Search">
  </tr>
  <tr>
    <th>Nombre: </th>
    <input class="form-control mr-sm-2 and input" type="search" placeholder="{{pName}}" aria-label="Search">
  </tr>
  <tr>
    <th>Ciudad: </th>
    <input class="form-control mr-sm-2 and input" type="search" placeholder="{{pCity}}" aria-label="Search">
  </tr>
  <tr>
    <th>Pais: </th>
    <input class="form-control mr-sm-2 and input" type="search" placeholder="{{pCountry}}" aria-label="Search">
  </tr>
  <tr>
    <th>Telefono: </th>
    <input class="form-control mr-sm-2 and input" type="search" placeholder="{{pPhone}}" aria-label="Search">
  </tr>
</form>
