@model Practico07.MVC.Models.CNFactView

@{
    ViewBag.Title = "Index";
}
<div>
    <h3>Chuck Norris Fact:</h3>

    <div>
        <h3><i>"@Model.Value"</i></h3>
    </div>

    <div>
        <img src="https://img.europapress.es/fotoweb/fotonoticia_20150310130850-732359_420.jpg" alt="Chuck Norris">
    </div>

    <div>
        <a class="btn alert-link" href="/Index">Get Another Fact</a>
    </div>
</div>