.table{
  padding: 3%;
}

.search-bar{
  align-self: auto;
  width:100%;
  padding:3%;
}

.form-control-dark{
  width: 20%;
}

.buscador {
  display:flex;
  padding-left: 3%;
  padding-right: 60%;
}

.last{
  padding-left: 3%;
}

.modal-body{
  align-self: center;
}

.boton{
  margin: 1%;
  align-self: center;
}

.table {
  width: 90%;
  margin:1rem auto;
}

.contenedor {
  display: flex;
  flex-direction: column;
  margin:1rem auto;
  max-width: 600px;
  box-shadow: -1px 3px 66px 0px rgba(0,0,0,0.75);
  padding: 1rem;
}
