<!--
-->

<div class="last">
  <h1>Clientes</h1>
</div>

<!--Buscar-->
<form class="form-inline my-2 my-lg-0 and buscador">
  <input class="form-control mr-sm-2" type="search" placeholder="Buscar cliente" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
</form>

<!-- -FORM ADD/UPDATE - -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">{{state}}</h2>
    <button type="button" class="btn btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    </button>
  </div>
  <div class="modal-body">
    <app-form
    [iID]="pID"
    [iName]="pName"
    [iEmp]="pEmp"
    [iCity]="pCity"
    [iCountry]="pCountry"
    [iPhone]="pPhone"
    [state]="state"
    ></app-form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close()">Cerrar</button>
  </div>
</ng-template>

<!--Listado-->
<div class="table table-responsive">
  <h2>Listado de Clientes</h2>
  <table class="table table-striped" #table1>
      <thead>
          <tr>
              <th scope="col">ID Cliente</th>
              <th scope="col">Nombre</th>
              <th scope="col">Empresa</th>
              <th scope="col">Ciudad</th>
              <th scope="col">País</th>
              <th scope="col">Teléfono</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listCustomers">
          <th scope="row">{{item.CustomerID}}</th>
          <td>{{item.ContactName}}</td>
          <td>{{item.CompanyName}}</td>
          <td>{{item.City}}</td>
          <td>{{item.Country}}</td>
          <td>{{item.Phone}}</td>
          <td><a class="btn btn-danger" (click)="deleteRow(this.item.CustomerID)">X</a></td>
          <td><a class="btn btn-info" (click)="openUpdate(content,this.item); state='Modificar Cliente'">Modificar</a></td>
        </tr>
      </tbody>
  </table>
</div>
<div class="last">
  <button class="btn btn-lg btn-outline-success and boton" (click)="openNew(content); state='Nuevo Cliente'" >Nuevo Cliente</button>
</div>


